<!doctype html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- load bulma css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <style>
            body        { padding-top:70px; }
        </style>
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center text-success">
                <h1><span class="fa fa-user"></span> Profile Edit</h1>
                <br>
                <div style="margin-left:-70px">
                    <form action="/profile/update" method="post" >
                    <input type="hidden" name="isGoogleUser" id="isGoogleUser" value="{{.IsGoogleUser}}">
                    <div class="form-group">
                        <label class="col-lg-2">Mail:</label>
                        <input name="username" id="username" value="{{.Username}}" {{if .IsGoogleUser}} readonly {{end}}>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Full Name:</label>
                        <input name="name" id="name" value="{{.FullName}}">
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Address:</label>
                        <input name="address" id="adreess" value="{{.Address}}">
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Phone:</label>
                        <input name="phone" id="phone" value="{{.Phone}}">
                    </div>
                    <button type="submit" class="btn btn-success">Save & Continu
                    <span class="fa fa-save"></span>
                    </button>
                    <a href="/profile/" class="btn btn-danger" style="margin-left:10px"><span class="fa fa-back"></span>Cancel</a>
                    </form>
                </div>
            </div>
            <div class="row" style="margin-left:0px">
            </div>
        </div>
    </body>
</html>