<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
   
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-lock"></span> Forgot Password</h1>
        {{if .ThereIsError}}
            <p><b>{{ .Error }}</b></p>
        {{end}}
        <br><br>
        <form action="/forgotpassword" method="POST">
            <div style="margin-right:3%">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="username">
            </div>
            <button type="submit" class="btn btn-info">Send Reset Link
                <span class="fa fa-login"></span>
            </button>
        </form>
       
    </div>
    <a href="/" class="btn btn-warning"><span class="fa fa-login"></span> Back to Login</a>
</div>
</body>
</html> 