<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
     <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
     <meta http-equiv="Pragma" content="no-cache" />
     <meta http-equiv="Expires" content="0" />
</head>
<body>
<div class="container">
   
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-user"></span> Profile Info</h1><br>
        <p> <b>Mail:</b> {{.Username}}</p>
        <p> <b>Full Name:</b> {{.FullName}}</p>
        <p> <b>Address:</b> {{.Address}}</p>
        <p> <b>Phone:</b> {{.Phone}}</p>
    </div>
    <div class="row" style="margin-left:0px">
        <form action="/logout" method="post">
            <button name="subject" type="submit"  class="btn btn-danger"><span class="fa fa-sign-out"></span>Logout</button>
        </form>
        <a href="/profile/edit" class="btn btn-warning" style="margin-left:10px"><span class="fa fa-edit"></span>Edit Profile</a>

    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
</html> 