<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
   
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-lock"></span> Reset Password</h1>
        <br><br>
        <form action="/resetpassword" method="POST">
            <input type="hidden" id="token" name="token" value="{{ .Token }}">
            <div style="margin-right:3%">
                    <label for="password">New Password:</label>
                    <input type="text" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-info">Reset Password
                <span class="fa fa-login"></span>
            </button>
        </form>
       
    </div>
</div>
</body>
</html> 