<!-- views/auth.ejs -->
<!doctype html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
   
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-lock"></span> Authentication</h1>
        {{if .ThereIsError}}
            <p><b>{{ .Error }}</b></p>
        {{end}}
        <p>Login with:</p>
        <a href="/auth/loginProvider/login" class="btn btn-danger"><span class="fa fa-google"></span> Sign In with Google</a>
        <br><br>
        <form action="/login" method="POST">
            <div style="margin-right:3%">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="username">
            </div>
            <div style="margin-right:6%">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-info">Sign In
                <span class="fa fa-login"></span>
            </button>
        </form>
       
    </div>
    <a href="/signup" class="btn btn-warning"><span class="fa fa-login"></span> Sign Up</a>
    <a href="/forgotpassword" class="btn btn-warning"><span class="fa fa-login"></span> Forgot Password</a>

</div>
</body>
</html> 